.image-selector::after {
    content: "";
    display: block;
    clear: both;
}

.image-selector figure {
    float: left;
    margin: 5px;
    padding: 5px;
    border: 2px solid transparent;
}

.image-selector figure img {
    height: 100px;
}

.image-selector figure.selected {
    border-color: var(--primary-color);
}